.btn {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
}

.zero {
    display: inline;
    padding: 10px 52px; 
}

 .equal {
     padding: 10px 110px;
     background-color: green;
 }

 .equal:hover {
     background-color: rgb(0, 87, 8);
 }


 .clear {
     padding: 10px 110px;
     background-color: red;
 }

 .clear:hover {
     background-color: rgb(136, 14, 14);
 }

.minus {
    background-color: rgba(255, 51, 0, 0.822);
}

.division {
    background-color: rgba(255, 51, 0, 0.822);
}

.plus {
    background-color: rgba(255, 51, 0, 0.822);
}


.stroke {
    background-color: rgba(255, 51, 0, 0.822);
}

.plus:hover ,.stroke:hover,.division:hover,.minus:hover {
    background-color: rgba(168, 37, 5, 0.822);
}

.grid-container {
    border: 5px;    
}
